@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@1&family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Raleway:ital@1&family=Roboto+Slab:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #d2dbdd;
}

.heading_style {
  padding: 30px 0;
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.cards {
  width: 100%;
  height: auto;
}

.slot-inner {
  margin: 10px 40%;
  padding: 20px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 30.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 1);
  float: left;
  text-align: center;
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 1);
  transform: scale(1.05, 1.05);
}

.card_img {
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card_info {
  padding: 16px 24px 24px 24px;
  text-align: center;
  text-transform: capitalize;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #fff;
}

.card_category {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  background-color: #fff;
}

.card_title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Raleway" sans-serif;
  background-color: #fff;
  text-transform: capitalize;
}

button {
  /* width: 8rem; */
  margin: 3px;
  padding: 5px 8px;
  word-spacing: 3px;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
  outline: none;
  text-shadow: 2px 2px 4px #000000;
  background-color: rgb(20, 9, 9);
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border: 2px solid white;
}

@media (max-width: 780px) {
  .card {
    float: none;
    margin: 5%;
    width: 90%;
  }
}

@media (max-width: 240px) {
  .card {
    float: none;
    margin: 5%;
    width: 80%;
  }
}
